.yellow {
  background-color: #F8CF07;
  width: 1000px;
  padding: 100px;
}

.red {
  background-color: #FF0404;
  width: 1000px;
  padding: 100px;
}

.black {
  background-color: #000000;
  width: 1000px;
  padding: 100px;
}

